<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Fisrt Page</title>
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <p>Welcome ! </p>

</body>

</html>
