<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Command image</title>
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <img src="https://github.com/Oumaimaelh/command_line/blob/master/views/image1.jpg?raw=true" alt="image insa">

</body>

</html>
