<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>image2</title>
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <img src="https://raw.githubusercontent.com/Oumaimaelh/command_line/master/views/image2.jpg" alt="image">

</body>

</html>
